
@import url(main.css);

/* Estilos para las tablas */
.form-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 16px;
}

.form-table span i {
    position: relative;
    top: 1px;
    left: 30px;
}

.form-table span i:hover {
    color: var(--primary-color);
}

caption {
    font-weight: 700;
    color: var(--label-titles);
    padding: 10px;
    letter-spacing: 1px;
    margin-top: 6px;
}

th button {
    color: var(--black);
    padding: 3px;
    border-radius: 50%;
    border: 1px solid var(--just-white);
    background: var(--soft-blue);
}

th button:hover {
    background: #e7f5ff;
    border: 1px solid #1682B0;
}

th i {
    color: var(--black);
    cursor: pointer;
}

th i:hover {
    color: #1682B0;
}

table {
    width: 100%;
    max-width: 760px;
    background-color: var(--just-white);
    text-align: left;
    border-collapse: collapse;
}

table input[type="text"],
table input[type="number"],
table input[type="email"] {
    padding: 6px 2px;
    background: var(--soft-blue);
    border: .5px solid transparent;
    border-radius: 3px;
    transition: .3s ease all;
}

table input[type="text"]:hover,
table input[type="number"]:hover,
table input[type="email"]:hover {
    background: var(--just-white);
    border: .5px solid var(--primary-color);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

table input[type="number"] {
    width: 78px;
}

.custom-button {
    color: var(--just-white);
    background: var(--soft-orange);
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

tr td .custom-button i {
    color: var(--primary-color);
    margin-right: 2px;
}

.custom-text {
    padding: 10px 2px;
    background: var(--soft-blue);
    border: .5px solid transparent;
    font-size: 12px;
    border-radius: 3px;
    font-size: 10px;
    color: var(--label-titles);
}

th, td {
    padding: 2px 8px;
}

.form__table-candidates th, .form__table-candidates td {
    padding: 3px 14px;
}

thead {
    background-color: var(--primary-color);
    border-bottom: 1px solid;
    color: var(--soft-blue);
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr td .trash-alt i {
    color: red;
    cursor: pointer;
}

tr td .trash-alt {
    padding: 3px;
    border-radius: 2px;
    border: 1px solid var(--easy-blue);
    background: transparent;
}

tr td .trash-alt:hover {
    border: 1px solid red;
}