
/* Estilos para las tablas */
.form-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.form-table span i {
    position: relative;
    top: 1px;
    left: 30px;
}

.form-table span i:hover {
    color: var(--primary-color);
}

caption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 10px;
    margin: 8px 0;
}

caption button {
    padding: 3px;
    border-radius: 2px;
    border: 1px solid var(--easy-blue);
    background: transparent;
}

caption button:hover {
    background: #e7f5ff;
    border: 1px solid #1682B0;
}

caption i {
    color: var(--black);
    cursor: pointer;
}

caption i:hover {
    color: #1682B0;
}

table {
    width: 100%;
    background-color: var(--just-white);
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 10px 25px;
}

.form__table-candidates th, .form__table-candidates td {
    padding: 10px 50px;
}

thead {
    background-color: var(--primary-color);
    border-bottom: 1px solid;
    color: var(--soft-blue);
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td{
    background-color: var(--soft-blue);
    color: var(--primary-color);
}

tr td i {
    color: red;
    cursor: pointer;
}

tr td button {
    padding: 3px;
    border-radius: 2px;
    border: 1px solid var(--easy-blue);
    background: transparent;
}

tr td button:hover {
    border: 1px solid red;
}