
/* Colors */
:root {
    --primary-color: #1682B0;
    --easy-blue: #5CAACB;
    --soft-blue: #e7f5ff;
    --secondary-color: #FF4215;
    --soft-orange: #FF6743;
    --third-color: #FFBD15;
    --soft-yellow: #FFCA43;
    --label-titles: #707070;
    --black: #020202;
    --silver: #9DA2AB;
    --just-white: #fff;
}

/* Estilos para las tablas */
.form-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.form-table span i {
    position: relative;
    top: 1px;
    left: 30px;
}

.form-table span i:hover {
    color: var(--primary-color);
}

caption {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 10px;
    margin: 8px 0;
}

caption i {
    color: var(--black);
    cursor: pointer;
}

table {
    width: 100%;
    background-color: var(--just-white);
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 10px 25px;
}

.form__table-candidates th, .form__table-candidates td {
    padding: 10px 50px;
}

thead {
    background-color: var(--primary-color);
    border-bottom: 1px solid;
    color: var(--soft-blue);
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td{
    background-color: var(--soft-blue);
    color: var(--primary-color);
}

tr td i {
    color: red;
    cursor: pointer;
}